
<div class="container text-center button-pad">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= simple_form_for(@cocktail) do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, placeholder: "Enter new poison" %>
        <%= f.button :submit, class: "btn-toolbar btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>


<div class="container text-center button-pad">
  <div class="row">
    <div class="col-xs-12 col-sm-6">
      <%= link_to "Back", cocktails_path, class: "btn-toobar btn btn-danger" %>
    </div>
  </div>
</div>
