<div class="container text-center">
  <div class="row">
    <div class="col-xs-4 col-sm-offset-4">
      <h1><%= @cocktail.name %></h1>
      <%= link_to "Back", cocktails_path, class: "btn btn-danger list-unstyled" %>
      <%= simple_form_for [@cocktail, @dose] do |f| %>
        <%= f.input :description, placeholder: "2 cups" %>
        <%= f.input :ingredient_id, collection: Ingredient.all, prompt: "Select" %>
        <%= f.submit "Add dose", class: "btn btn-danger" %>
      <% end %>
      <h1>Recipe</h1>
      <ul>
        <% @cocktail.doses.each do |d| %>
          <li>
            <%= d.description %> <%= d.ingredient.name%>
            <%= link_to "delete", cocktail_dose_path(@cocktail, d), class: "btn btn-danger", method: :delete%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>






